<nav class="navbar navbar-expand-lg bg-dark justify-content-center fixed-top p-3">
    <div class="container">

        <div class="navbar-brand img-fluid">
            <img src="../../../assets/image/navbar-logo.svg" alt="">
        </div>

        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse  justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link text-light pr-4" href="#">SERVICE</a>
                <a class="nav-link text-light pr-4" href="#">PORTFOLIO</a>
                <a class="nav-link text-light pr-4" href="#">ABOUT</a>
                <a class="nav-link text-light pr-4" href="#">TEAM</a>
                <a class="nav-link text-light pr-0" href="#">CONTACT</a>
            </div>
        </div>
    </div>
</nav>