.bg-img {
    height: 47rem;
    background: url(../../../assets/image/header-bg.jpg);
    background-position: center;
    background-size: cover;
}

.sub-head {
    font-size: 2.4rem;
}

.main-head {
    font-size: 4.3rem;
}

.text-btn-size {
    font-size: 1.2rem;
}

.icon-circle {
    height: 8rem;
    width: 8rem;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.bg-white {
    background-color: white;
}

.size-about-icon {
    height: auto;
    width: 100%;
    border: 0.4rem solid #ddd;
}

.size-last-about {
    height: 7.5em;
    font-size: 1.5rem;
    padding: 1.9rem 0 0 0;
}

.text-height {
    line-height: 1.7rem;
}

.text-height-1 {
    line-height: 2rem;
}

.avatar-team {
    height: 14rem;
    width: 14rem;
    border: 0.5rem solid #ddd;
}

.brand-team {
    height: 3rem;
}

.btn-sosial {
    height: 2.7rem;
    width: 2.7rem;
    background: black;
}

@media only screen and (max-width: 1200px) {
    .size-last-about {
        height: 7.1em;
        font-size: 1.3em;
        padding: 1.5rem 0 0 0;
    }
}

@media only screen and (max-width: 992px) {
    .size-last-about {
        height: 6.7rem;
        font-size: 0.9rem;
        padding: 1rem 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    .bg-img {
        height: 40rem;
        background: url(../../../assets/image/header-bg.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .main-head {
        font-size: 2.8rem;
    }  

    .sub-head {
        font-size: 1.8rem;
    }

    .size-last-about {
        height: 4.8rem;
        font-size: 0.8rem;
        padding: 0.3rem 0 0 0;
    }
}

@media only screen and (max-width: 576px) {
    .bg-img {
        height: 34rem;
        background: url(../../../assets/image/header-bg.jpg);
        background-position: center;
        background-size: cover;
    }

    .main-head {
        font-size: 2rem;
    }   

    .sub-head {
        font-size: 1.4em;
    }

    .size-last-about {
        height: 7.5rem;
    font-size: 1.1rem;
    padding: 0.7rem 0 0 0;
    }
}

@media only screen and (max-width: 411px) {
    .size-last-about {
        height: 5.4rem;
        font-size: 0.9rem;
        padding: 0.5rem 0 0 0;
    }
}