<div class="container-fluid bg-img d-flex align-items-center justify-content-center">
    <div class="container-lg text-light text-center">
        <p class="font-italic sub-head">Welcome To Our Studio!</p>
        <p class="font-weight-bold main-head">IT'S NICE TO MEET YOU</p>
        <button class="btn btn-warning font-weight-bold text-light text-btn-size mt-4 py-3 px-5">TELL ME MORE</button>
    </div>
</div>

<!-- service -->
<div class="container-fluid d-flex align-items-center py-5">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col">
                <p class="font-weight-bold h1">SERVICES</p>
                <p class="font-italic text-secondary">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <div class="d-flex justify-content-center mt-5">
                    <div class="d-flex bg-warning rounded-circle justify-content-center icon-circle align-items-center">
                        <img src="../../../assets/image/icons.png" height="70px" width="70px" />
                    </div>
                </div>
                <div>
                    <p class="mt-4 h4 font-weight-bold">E-Commerce</p>
                    <p class="mt-3 text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                        maxime quam architecto quo
                        inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center mt-5">
                    <div class="d-flex bg-warning rounded-circle icon-circle justify-content-center align-items-center">
                        <img src="../../../assets/image/icons.png" height="70px" width="70px" />
                    </div>
                </div>
                <div>
                    <p class="mt-4 h4 font-weight-bold">Responsive Design</p>
                    <p class="mt-3 text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                        maxime quam architecto quo
                        inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center mt-5">
                    <div class="d-flex bg-warning rounded-circle icon-circle justify-content-center align-items-center">
                        <img src="../../../assets/image/icons.png" height="70px" width="70px" />
                    </div>
                </div>
                <div>
                    <p class="mt-4 h4 font-weight-bold">Web Security</p>
                    <p class="mt-3 text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                        maxime quam architecto quo
                        inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- portfolio -->
<div class="container-fluid bg-whitesmoke py-5">
    <div class="container text-center py-5">
        <div class="row">
            <div class="col">
                <p class="h1 font-weight-bold">PORTFOLIO</p>
                <P class="text-secondary font-italic">Lorem ipsum dolor sit amet consectetur.</P>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-4 col-sm-6 pr-lg-2 mt-4">
                <div class="bg-white">
                    <img src="../../../assets/image/1.jpg" class="img-fluid" alt="" />
                    <div class="py-2 mt-3">
                        <p class="h4 font-weight-bold">Threads</p>
                        <p class="text-secondary font-italic">Illustration</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 pr-lg-2 mt-4">
                <div class="bg-white">
                    <img src="../../../assets/image/2.jpg" class="img-fluid" alt="" />
                    <div class="py-2 mt-3">
                        <p class="h4 font-weight-bold">Explore</p>
                        <p class="text-secondary font-italic">Graphic Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-4">
                <div class="bg-white">
                    <img src="../../../assets/image/3.jpg" class="img-fluid" alt="" />
                    <div class="py-2 mt-3">
                        <p class="h4 font-weight-bold">Finish</p>
                        <p class="text-secondary font-italic">Identity</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mt-4 pr-lg-2">
                <div class="bg-white">
                    <img src="../../../assets/image/4.jpg" class="img-fluid" alt="" />
                    <div class="py-2 mt-3">
                        <p class="h4 font-weight-bold">Lines</p>
                        <p class="text-secondary font-italic">Branding</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-4 pr-lg-2">
                <div class="bg-white">
                    <img src="../../../assets/image/5.jpg" class="img-fluid" alt="" />
                    <div class="py-2 mt-3">
                        <p class="h4 font-weight-bold">Southwest</p>
                        <p class="text-secondary font-italic">Website Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mt-4">
                <div class="bg-white">
                    <img src="../../../assets/image/6.jpg" class="img-fluid" alt="" />
                    <div class="py-2 mt-3">
                        <p class="h4 font-weight-bold">Window</p>
                        <p class="text-secondary font-italic">Photography</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about -->
<div class="container p-5">
    <div class="row text-center pt-5">
        <div class="col">
            <p class="h1 font-weight-bold">ABOUT</p>
            <p class="text-secondary font-italic">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
    </div>
    <div class="row mt-2 mt-lg-5 py-4">
        <div class="col-3 col-sm-2 text-center p-0">
            <img src="../../../assets/image/a1.jpg" class="img-fluid  size-about-icon rounded-circle" alt="" />
        </div>
        <div class="col-9 col-sm-10 col-md-5 text-md-right pr-md-5 text-height order-md-first">
            <p class="h4 font-weight-bold">2009-2011
                <br>Our Humble Beginnings
            </p>
            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
        </div>
    </div>

    <div class="row mt-2 mt-lg-5 py-4 justify-content-end">
        <div class="col-3 col-sm-2 text-center p-0">
            <img src="../../../assets/image/a2.jpg" class="img-fluid  size-about-icon rounded-circle" alt="" />
        </div>
        <div class="col-9 col-sm-10 col-md-5 text-left pl-md-5 text-height">
            <p class="h4 font-weight-bold">March 2011
                <br>An Agency is Born
            </p>
            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
        </div>
    </div>

    <div class="row mt-2 mt-lg-5 py-4">
        <div class="col-3 col-sm-2 text-center p-0">
            <img src="../../../assets/image/a3.jpg" class="img-fluid  size-about-icon rounded-circle" alt="" />
        </div>
        <div class="col-9 col-sm-10 col-md-5 text-md-right pr-md-5 text-height order-md-first">
            <p class="h4 font-weight-bold">December 2015
                <br>Transition to Full Service
            </p>
            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
        </div>
    </div>

    <div class="row mt-2 mt-lg-5 py-4 justify-content-end">
        <div class="col-3 col-sm-2 text-center p-0">
            <img src="../../../assets/image/a4.jpg" class="img-fluid  size-about-icon rounded-circle" alt="" />
        </div>
        <div class="col-9 col-sm-10 col-md-5 text-left pl-md-5 text-height">
            <p class="h4 font-weight-bold">July 2020
                <br>Phase Two Expansion
            </p>
            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius
                sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo
                dolore laudantium consectetur!</p>
        </div>
    </div>

    <div class="row mt-2 mt-lg-5 py-4 justify-content-md-center">
        <div class="col-3 col-sm-2 text-center p-0">
            <div class="bg-warning size-about-icon size-last-about rounded-circle">
                <p class="text-light font-weight-bold">
                    Be Part<br>
                    Of Our<br>
                    Story!
                </p>
            </div>
        </div>
    </div>

</div>

<!-- team -->
<div class="container-fluid bg-whitesmoke pb-5">
    <div class="container py-5">
        <div class="row text-center pt-5">
            <div class="col">
                <p class="h1 font-weight-bold">OUR AMAZING TEAM</p>
                <p class="text-secondary font-italic">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>

        <div class="row pt-5 justify-content-center">
            <div class="col-12 col-lg-4 text-center p-0">
                <img src="../../../assets/image/t1.jpg" class="img-fluid avatar-team rounded-circle" alt="" />
                <p class="h4 font-weight-bold mt-4">Parveen Anand</p>
                <p class="text-secondary">Lead Designer</p>
                <div class="row justify-content-center">
                    <div class="col-2 col-md-1 col-lg-2">
                        <button href="#" class="btn-sosial rounded-circle"><img src="../../../assets/image/icons.png"
                                class="img-fluid" alt=""></button>
                    </div>
                    <div class="col-2 col-md-1 col-lg-2">
                        <button href="#" class="btn-sosial rounded-circle"><img src="../../../assets/image/icons.png"
                                class="img-fluid" alt=""></button>
                    </div>
                    <div class="col-2 col-md-1 col-lg-2">
                        <button href="#" class="btn-sosial rounded-circle"><img src="../../../assets/image/icons.png"
                                class="img-fluid" alt=""></button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 text-center mt-5 mt-lg-0 p-0">
                <img src="../../../assets/image/t2.jpg" class="img-fluid avatar-team rounded-circle" alt="" />
                <p class="h4 font-weight-bold mt-4">Diana Petersen</p>
                <p class="text-secondary">Lead Marketer</p>
                <div class="row justify-content-center">
                    <div class="col-2 col-md-1 col-lg-2">
                        <button href="#" class="btn-sosial rounded-circle"><img src="../../../assets/image/icons.png"
                                class="img-fluid" alt=""></button>
                    </div>
                    <div class="col-2 col-md-1 col-lg-2">
                        <button href="#" class="btn-sosial rounded-circle"><img src="../../../assets/image/icons.png"
                                class="img-fluid" alt=""></button>
                    </div>
                    <div class="col-2 col-md-1 col-lg-2">
                        <button href="#" class="btn-sosial rounded-circle"><img src="../../../assets/image/icons.png"
                                class="img-fluid" alt=""></button>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-lg-4 text-center mt-5 mt-lg-0 p-0">
                <img src="../../../assets/image/t3.jpg" class="img-fluid avatar-team rounded-circle" alt="" />
                <p class="h4 font-weight-bold mt-4">Larry Parker</p>
                <p class="text-secondary">Lead Developer</p>
                <div class="row justify-content-center">
                    <div class="col-2 col-md-1 col-lg-2">
                        <button href="#" class="btn-sosial rounded-circle"><img src="../../../assets/image/icons.png"
                                class="img-fluid" alt=""></button>
                    </div>
                    <div class="col-2 col-md-1 col-lg-2">
                        <button href="#" class="btn-sosial rounded-circle"><img src="../../../assets/image/icons.png"
                                class="img-fluid" alt=""></button>
                    </div>
                    <div class="col-2 col-md-1 col-lg-2">
                        <button href="#" class="btn-sosial rounded-circle"><img src="../../../assets/image/icons.png"
                                class="img-fluid" alt=""></button>
                    </div>
                </div>
            </div>

            <div class="col-md-9 text-center mt-5">
                <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
                    laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row text-center">
        <div class="col-3">
            <img src="../../../assets/image/microsoft.svg" class="img-fluid brand-team" alt="" />
        </div>
        <div class="col-3">
            <img src="../../../assets/image/google.svg" class="img-fluid brand-team" alt="" />
        </div>
        <div class="col-3">
            <img src="../../../assets/image/facebook.svg" class="img-fluid brand-team" alt="" />
        </div>
        <div class="col-3">
            <img src="../../../assets/image/ibm.svg" class="img-fluid brand-team" alt="" />
        </div>
    </div>
</div>