/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: montserrat;
    src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf) format("opentype");
  }
